In [1]:
import pandas as pd

In [2]:
# Charger les données
data = pd.read_csv("data_clean.csv")

# Afficher les types de données uniques pour chaque colonne
for column in data.columns:
    unique_values = data[column].unique()
    print(f"Colonne: {column}")
    print(f"Types uniques: {unique_values[:10]}")  # Limiter l'affichage à 10 valeurs uniques pour plus de lisibilité
    print(f"Nombre de types uniques: {len(unique_values)}\n")

C:\Users\diabo\AppData\Local\Temp\ipykernel_1712420\54324988.py:2: DtypeWarning: Columns (9,11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("data_clean.csv")

Colonne: id_transaction
Types uniques: ['2023-1' '2023-2' '2023-3' '2023-4' '2023-8' '2023-9' '2023-11' '2023-12'
 '2023-13' '2023-14']
Nombre de types uniques: 802858

Colonne: date_vente
Types uniques: ['2023-01-05' '2023-01-03' '2023-01-06' '2023-01-04' '2023-01-10'
 '2023-01-02' '2023-01-09' '2023-01-12' '2023-01-13' '2023-01-14']
Nombre de types uniques: 349

Colonne: num_disposition
Types uniques: [ 1  3  2  4  5  8 10 11  6  7]
Nombre de types uniques: 13

Colonne: type_vente
Types uniques: ['Vente' "Vente en l'état futur d'achèvement" 'Adjudication' 'Echange'
 'Vente terrain à bâtir' 'Expropriation']
Nombre de types uniques: 6

Colonne: prix
Types uniques: [1070000.  152200.  269000.  770000.   85520.  335000.  209000.  325000.
  430000.  160000.]
Nombre de types uniques: 81674

Colonne: num_rue
Types uniques: [ 159 2914  427   41  352   51 6021  212   50    6]
Nombre de types uniques: 6729

Colonne: nom_rue
Types uniques: ['ALL DES HETRES' 'RTE DE PONCIN' "CHE DE L'AUBEPIN"
 'RUE DU PARC DE VILLARD' 'CHE DE LA CROIX DE VACAGNOLE' 'RUE DU VERGER'
 'AV MAGINOT' 'EN BONNE TEMPS' 'CHE DU MAS FALCON' 'RUE SAINT JEAN']
Nombre de types uniques: 227352

Colonne: code_voie
Types uniques: ['0124' '0107' '0040' '0151' '0380' '0100' '2420' 'B020' '0083' '0430']
Nombre de types uniques: 12950

Colonne: code_postal
Types uniques: [1630 1450 1800 1210 1340 1130 1000 1140 1160 1250]
Nombre de types uniques: 5847

Colonne: code_commune
Types uniques: [1354 1404 1361 1281 1024 1152 1053 1348 1314 1422]
Nombre de types uniques: 30751

Colonne: ville
Types uniques: ['Saint-Genis-Pouilly' 'Serrières-sur-Ain' 'Saint-Jean-de-Niost' 'Ornex'
 'Attignat' 'Échallon' 'Bourg-en-Bresse' 'Saint-Didier-sur-Chalaronne'
 'Priay' 'Tossiat']
Nombre de types uniques: 28338

Colonne: departement
Types uniques: [1 2 3 4 5 6 7 8 9 10]
Nombre de types uniques: 99

Colonne: id_parcelle
Types uniques: ['01354000BD0336' '014040000D2317' '013610000B2405' '01281000AD0041'
 '01024000AI0127' '01152000AC0166' '01053000AC0528' '01348000YB0160'
 '013140000D2776' '013140000D2781']
Nombre de types uniques: 637032

Colonne: num_lot1
Types uniques: ['22' 'Pas de lot' '1' '3' '515' '17' '15' '2' '40' '309']
Nombre de types uniques: 4874

Colonne: nb_lots
Types uniques: [ 1  0  2  3  4  6  5 13  7  8]
Nombre de types uniques: 24

Colonne: code_type_bien
Types uniques: [2 1]
Nombre de types uniques: 2

Colonne: type_bien
Types uniques: ['Appartement' 'Maison']
Nombre de types uniques: 2

Colonne: surface_habitable
Types uniques: [233.  64.  73. 136. 160. 106.  68.  70.  51.  40.]
Nombre de types uniques: 480

Colonne: nb_pieces
Types uniques: [8. 3. 7. 5. 6. 4. 2. 1. 9. 0.]
Nombre de types uniques: 49

Colonne: code_nature_terrain
Types uniques: ['Non spécifié' 'S' 'P' 'AG' 'J' 'T' 'AB' 'BS' 'BT' 'L']
Nombre de types uniques: 26

Colonne: nature_terrain
Types uniques: ['Non spécifié' 'sols' 'prés' "terrains d'agrément" 'jardins' 'terres'
 'terrains a bâtir' 'taillis sous futaie' 'taillis simples' 'landes']
Nombre de types uniques: 26

Colonne: surface_terrain
Types uniques: [ 641.  988.  835.  921. 1500.  778.  403.   89.   99.  118.]
Nombre de types uniques: 10166

Colonne: longitude
Types uniques: [6.020204 5.438273 5.225844 6.083444 5.171364 5.74021  5.227046 4.827211
 5.293851 5.293688]
Nombre de types uniques: 607177

Colonne: latitude
Types uniques: [46.247228 46.129859 45.853513 46.279993 46.269235 46.207131 46.21104
 46.174765 46.026677 46.026655]
Nombre de types uniques: 597455

In [3]:
# Filtrer les lignes ayant type_vente = 'Vente'
data = data[data['type_vente'] == 'Vente']

# Supprimer les colonnes ville, nom_rue, num_rue
data = data.drop(columns=['ville', 'nom_rue', 'num_rue'])

In [4]:
# Vérifier les modifications
data.head()

,id_transaction,date_vente,num_disposition,type_vente,prix,code_voie,code_postal,code_commune,departement,id_parcelle,...,nb_lots,code_type_bien,type_bien,surface_habitable,nb_pieces,code_nature_terrain,nature_terrain,surface_terrain,longitude,latitude
0,2023-1,2023-01-05,1,Vente,1070000.0,0124,1630,1354,1,01354000BD0336,...,1,2,Appartement,233.0,8.0,Non spécifié,Non spécifié,641.0,6.020204,46.247228
1,2023-2,2023-01-03,1,Vente,152200.0,0107,1450,1404,1,014040000D2317,...,0,1,Maison,64.0,3.0,S,sols,988.0,5.438273,46.129859
2,2023-3,2023-01-05,1,Vente,269000.0,0040,1800,1361,1,013610000B2405,...,0,1,Maison,73.0,3.0,S,sols,835.0,5.225844,45.853513
3,2023-4,2023-01-03,1,Vente,770000.0,0151,1210,1281,1,01281000AD0041,...,0,1,Maison,136.0,7.0,S,sols,921.0,6.083444,46.279993
4,2023-8,2023-01-06,3,Vente,85520.0,0380,1340,1024,1,01024000AI0127,...,0,1,Maison,160.0,5.0,Non spécifié,Non spécifié,641.0,5.171364,46.269235